<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form action="/finder/{{ type }}" method="post">
        {% csrf_token %}
        <label>Enter categories</label>
        <input id="categroy" type="text" name="category" value={{ cs }}><br/>
        <label>Enter ingredients</label>
        <input id="ingredients" type="text" name="ingredients" value={{ ins }}><br/>
        <button type="submit">find</button>
    </form>
</div>

{% if recipes %}
    <table border="1">
        <tr>
        <td>Book</td>
        <td>Page</td>
        <td>Recipe</td>
        </tr>

            {% for recipe in recipes%}
                <tr>
                {% for field in recipe %}
                    <td>{{ field }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
{% else %}
    <p>No ingredients are available</p>
{% endif %}</body>
</body>
</html>